* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
  background-color: rgb(243, 240, 240) !important;
}

.formbtn1 {
  width: 210px;
  padding: 10px;
}

.dhead {
  padding-left: 10px;
}

.nav {
  background-color: #e9e6e6;
   border-radius: 10px;

}

.nav1 {
  padding-right: 10px;
  padding-left: 3px;
  cursor: pointer;
  border: 1px solid #e9e6e6;
  transition: all 0.2s ease-in;
 
}

.nav1:hover {
  background-color: #ffffff9e;
  border: 1px solid #ffffff9e;
  border-radius: 10px;
}

.nav-li-2 {
  background-color: #ffffff9e;
  border: 1px solid #ffffff9e;
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid white;
  padding-right: 10px;
  padding-left: 3px;
}

.nav-li-3 {
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 3px;
}

/* #E-type1 {
  border-radius: .25rem;
  background-color: #198754;
  color: white;
  border: 1px solid #198754;
}

#E-type2 {
  border-radius: .25rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.699);
} */


.transaction {
  width: 90%;
  min-height: 500px;
  background-color: #F8F9FA;
  border: 1px solid #F8F9FA;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.178));
}

.div1 img {
  float: right;
}

.input input::placeholder {
  color: black;


}

.search {
  position: relative;

}

.srch {
  position: absolute;
  top: 11px;
  left: 15px;
  

}

h5 {
  font-size: 16px !important;
}

form {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 7px;

}

#deleteicon {
  padding-left: 50px;
}

.modal-dialog {
  overflow: hidden;
}

.btn1 {
  border: 1px solid black !important;
  border-radius: 10px !important;
}

/* .footerbtn1 {
  width: 170px;
} */

.footerbtn2 {
  background-color: #101828;
}


.search-section {
  position: relative;
}

.searchsvg {
  position: absolute;
  top: 9px;
  left: 7px;
}

.search-section input,
.search-section select {
  width: 100%;
}


.search-section input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 45px;
  background-color: rgba(24, 24, 24, 0);
  border: 1px solid rgba(65, 63, 63, 0.564);
  border-radius: 12px;
   filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.155));
  
}

select {
  background-color: #F8F9FA;
  border-radius: 10px;
   
}

#SearchModel{
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.155));
   border-radius: 20px;
}